#img-bg{
    background-image: url('https://i.pinimg.com/236x/e0/d2/dd/e0d2dd9aeda9b4d9d0bd8991861df6b3.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}