#img-bg{
    background-image: url('https://ogimg.infoglobo.com.br/in/5307778-359-8c1/FT1086A/cult_brave.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}